.App{
  margin-top: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-container {
  background-color: #fff;
  opacity: 0.7;
  font-weight: bold;

  border-radius: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-width: 60vw;
  min-height: 30vh;
}

.main_top{
  text-align: center;

  min-width: 50vw;
  margin-bottom: 2.5rem;
}

.temp_info {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80%;
}

.weather{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 8vh;

  width: 100%;
}

.main_bottom{
  margin-top: 2rem;
}

.temp-container {
  display: flex;
}

.temp {
  justify-content: center;
  margin: 1rem;
}

.city {
  display: flex;
  min-height: 1vh;
}

.button_group {
  display: flex;
  justify-content: center;
}

.button_group > button {
  margin: 1rem;
  font-weight: bold;
}

.button_group > button:hover {
  border: 1px solid gray;
}


