.App {
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.main_top{
  padding: 2px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.main_bottom{
  padding: 20px;
  text-align: center;
}

.weather{
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 1000px;
  height: 100px;

  border: 1px solid gainsboro;
  background-color:azure;
  opacity: 0.5;
}

.tem {
  justify-content: center;
  width: 500px;
}

.button_group {
  display: flex;
  justify-content: center;
}

.button_group > button {
  margin: 1rem;
}


