.App{
  margin-top: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-container {
  background-color: #fff;
  opacity: 0.7;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 700px;
}

.main_top{
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 70%;
}

.weather{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.main_bottom{
  text-align: center;
  width: 70%;
}

.temp {
  justify-content: center;
  margin: 1rem;
}

.button_group {
  display: flex;
  justify-content: center;
}

.button_group > button {
  margin: 1rem;
  font-weight: bold;
}

.button_group > button:hover {
  border: 1px solid gray;
}


